@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color:#cfd9df;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
* {
    font-family: 'Orbitron', sans-serif;
}
div#app-title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #5e5e5e;
}

div#bpm-container {
    width: 300px;
    height: 300px;
    padding: 5px;
    background: #30c7ec;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    border-radius: 100%;
    border: 12px dashed #008096;
}

div#bpm-container>span:nth-child(1) {
    font-size: 4rem;
    font-weight: 600;
    color: #006475;
    letter-spacing: 5px;
}

div#bpm-container>span:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #026070;
}

div.beatsText {
    font-size: 1.3rem;
    font-weight: 500;
}

button.beatsBTN{
    transition: transform .1s ease;
}
button.beatsBTN:active{
    transform: scale(.9);
}
#playMetronome{
    border: 6px dashed #006475;
    background: #66a6ff;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    color: #006475;
}
#stopMetronome{
    display: none;
    border: 6px dashed #b14536;
    background: #fe9a8b;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    color: #6e0d00;
}
button.controlBtns {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}